@model Variables

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Count Info</h1>
    <p>
        The Value of <b>UserCount</b> is: <i>@Model.userCount</i>
    </p>
    <p>
        The Value of <b>TotalCount</b> is: <i>@Model.totalCount</i>
    </p>
    <br>


    <h1 class="display-4">Integer Types</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Byte</td>
            <td>@Model.myByte.minValue</td>
            <td>@Model.myByte.maxValue</td>
        </tr>
        <tr>
            <td>Sbyte</td>
            <td>@Model.mySbyte.minValue</td>
            <td>@Model.mySbyte.maxValue</td>
        </tr>
        <tr>
            <td>Short</td>
            <td>@Model.myShort.minValue</td>
            <td>@Model.myShort.maxValue</td>
        </tr>
        <tr>
            <td>Ushort</td>
            <td>@Model.myUshort.minValue</td>
            <td>@Model.myUshort.maxValue</td>
        </tr>
        <tr>
            <td>Int</td>
            <td>@Model.myInt.minValue</td>
            <td>@Model.myInt.maxValue</td>
        </tr>
        <tr>
            <td>Uint</td>
            <td>@Model.myUint.minValue</td>
            <td>@Model.myUint.maxValue</td>
        </tr>
        <tr>
            <td>Long</td>
            <td>@Model.myLong.minValue</td>
            <td>@Model.myLong.maxValue</td>
        </tr>
        <tr>
            <td>Ulong</td>
            <td>@Model.myUlong.minValue</td>
            <td>@Model.myUlong.maxValue</td>
        </tr>
    </table>
    <br>

    <h1 class="display-4">Floating-point Variables</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Float</td>
            <td>@Model.myFloat.minValue</td>
            <td>@Model.myFloat.maxValue</td>
        </tr>
        <tr>
            <td>Double</td>
            <td>@Model.myDouble.minValue</td>
            <td>@Model.myDouble.maxValue</td>
        </tr>
    </table>
    <br />

    <h1 class="display-4">Char Variables</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Char</td>
            <td>@Model.myChar.minValue</td>
            <td>@Model.myChar.maxValue</td>
        </tr>
        <tr>
            <td>String</td>
            <td>@Model.myString.minValue</td>
            <td>@Model.myString.maxValue</td>
        </tr>
    </table>

    
</div>
